html{
    background-color: rgba(11, 10, 10, 0.882);
}

div{
    margin-left: 25%;
    width: 50%;
}
img{
    border: 5px dashed rgb(141, 141, 141);
    width: 100%;
    margin-top: 100px;

}

.text{
    margin: 0;
    color: antiquewhite;
    font-size: xx-large;
    text-align: center;
    font-family:  "Dancing Script", cursive;
}

h3{
    text-transform: capitalize;
}